# compiled python code
*.pyc

# vim temporary backup
.*.sw*

# binary executables
cif2pdb
TMalign
TMalignc
pdb2xyz
pdb2fasta
pdb2ss
xyz_sfetch
se
qTMclust
USalign
NWalign
HwRMSD
MMalign
TMscore
pdbAtomName
*.exe
*.zip

.idea
cmake-build-debug
